<div class='settings-container'>
    <mat-list class='list-menu'>
        <mat-list-item routerLink='/settings/projects' routerLinkActive='current-nav'>
            <mat-icon matListItemIcon>category</mat-icon>
            <span matListItemTitle>Projects</span>
        </mat-list-item>

        <mat-list-item routerLink='/settings/teams' routerLinkActive='current-nav'>
            <mat-icon matListItemIcon>engineering</mat-icon>
            <div matListItemTitle>Teams</div>
        </mat-list-item>

        <mat-list-item routerLink='/settings/team-members' routerLinkActive='current-nav'>
            <mat-icon matListItemIcon>groups</mat-icon>
            <div matListItemTitle>Team Members</div>
        </mat-list-item>

        <!-- <mat-list-item routerLink='/settings/misc' routerLinkActive='current-nav'>
            <mat-icon mat-list-icon>settings</mat-icon>
            <div mat-line>Settings</div>
        </mat-list-item> -->
        <mat-list-item class="refresh" (click)="refresh()">
            <mat-icon matListItemIcon>refresh</mat-icon>
            <div matListItemTitle>Reload Others</div>
        </mat-list-item>
        <div class="versioning-info">
            <div><b>UI Version: </b> {{uiVersion}}</div>
            <div><b>API Version: </b> {{apiVersion}}</div>
        </div>
    </mat-list>
    <div class='d-flex justify-content-center w-100'>
        <div class='card-container'>
            <router-outlet></router-outlet>
        </div>
        
    </div>
    
    

</div>
