/.vs
/WavoProjects.Api/obj
/WavoProjects.Api/bin
/WavoProjects.DataAccess/bin
/WavoProjects.Database/obj
/WavoProjects.Database/bin
/WavoProjects.DataAccess/obj
WavoProjects.Database/WavoProjects.Database.jfm
WavoProjects.Database/WavoProjects.Database.dbmdl
WavoProjects.Database/WavoProjects.Database.jfm
WavoProjects.Api/appsettings.Development.json
