
<div class='p-2' cdkDropListGroup>
    <div class='list-container'>
        <div cdkDropList class="project-list" 
            (cdkDropListDropped)="drop($event)" 
            [cdkDropListData]="projects1">
            <div *ngFor='let project of projects1' cdkDrag class="project-instance"> {{project}} </div>
        </div>
    </div>

    <div class='list-container'>
        <div cdkDropList class="project-list" 
            (cdkDropListDropped)="drop($event)" 
            [cdkDropListData]="projects2">
            <div *ngFor='let project of projects2' cdkDrag class="project-instance"> {{project}} </div>
        </div>
    </div>

    <div class='list-container'>
        <div cdkDropList class="project-list" 
            (cdkDropListDropped)="drop($event)" 
            [cdkDropListData]="projects3">
            <div *ngFor='let project of projects3' cdkDrag class="project-instance"> {{project}} </div>
        </div>
    </div>

    <div class='list-container'>
        <div cdkDropList class="project-list" 
            (cdkDropListDropped)="drop($event)" 
            [cdkDropListData]="projects4">
            <div *ngFor='let project of projects4' cdkDrag class="project-instance"> {{project}} </div>
        </div>
    </div>
</div>