<div class='p-2' cdkDropListGroup>
    <div class='list-container'>
        <h2>Projects</h2>
        <div cdkDropList class="project-list" 
            (cdkDropListDropped)="drop($event)" 
            [cdkDropListData]="projects1">
            <project-item *ngFor="let project of projects1" cdkDrag [project]='project'></project-item>
        </div>
    </div>

    <div class='list-container'>
        <h2>High</h2>
        <div cdkDropList class="project-list" 
            (cdkDropListDropped)="drop($event)" 
            [cdkDropListData]="projects2">
            <project-item *ngFor="let project of projects2" cdkDrag [project]='project'></project-item>
        </div>
    </div>

    <div class='list-container'>
        <h2>Medium</h2>
        <div cdkDropList class="project-list" 
            (cdkDropListDropped)="drop($event)" 
            [cdkDropListData]="projects3">
            <project-item *ngFor="let project of projects3" cdkDrag [project]='project'></project-item>
        </div>
    </div>

    <div class='list-container'>
        <h2>Low</h2>
        <div cdkDropList class="project-list" 
            (cdkDropListDropped)="drop($event)" 
            [cdkDropListData]="projects4">
            <project-item *ngFor="let project of projects4" cdkDrag [project]='project'></project-item>
        </div>
    </div>
</div>