.item-container {
    padding: 5px;
    border-left: solid 5px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: move;
    width: 100%;
}

.title {
    font-size: 1.5em;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.team {
    font-size: 1em;
    display: block;
    margin-bottom: 5px;
}