<div class="d-flex justify-content-around">
    <h2>Timesheets</h2>
    <div>
        <p><span class='list-item'>Total Hours:</span> {{calculateTotalHours() | number : '1.0-2'}}h</p>
        <p><span class='list-item'>Adjusted Hours:</span> {{teamMember.hoursAdjustment}}</p>
        <p><span class='list-item'>Distinct Days:</span> {{teamMember.distinctDays}}</p>
    </div>
</div>

<table mat-table matSort [dataSource]="ds" class="mat-elevation-z8 project-grid">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element"> {{element.clockIn | date : "fullDate"}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let element"> {{element.hours | number : '1.0-2'}}h </td>
    </ng-container>

    <ng-container matColumnDef="clockIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Clock In</th>
        <td mat-cell *matCellDef="let element"> {{element.clockIn | date : "shortTime"}} </td>
      </ng-container>

      <ng-container matColumnDef="clockOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Clock Out</th>
        <td mat-cell *matCellDef="let element"> {{element.clockOut | date : "shortTime"}} </td>
      </ng-container>

      <ng-container matColumnDef="autoClockOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Auto Clock Out</th>
        <td mat-cell *matCellDef="let element"><mat-icon *ngIf='element.autoClockOut'>auto_fix_high</mat-icon></td>
      </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <div class='move-right'>
          <button mat-raised-button color="primary" (click)="newTimesheet()"><mat-icon>add</mat-icon> New</button>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class='d-flex justify-content-end action-items'>
          <button mat-mini-fab color="primary" (click)='editTimesheet(element)'><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab color="warn" (click)='deleteTimesheet(element)'><mat-icon>delete</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p class='message' *ngIf='!loading && timesheets.length == 0'>No timesheet data for {{teamMember.name}}</p>
