<div class='settings-container'>
    <mat-list class='list-menu'>
        <mat-list-item routerLink='/settings/projects' routerLinkActive='current-nav'>
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>Projects</div>
        </mat-list-item>

        <mat-list-item routerLink='/settings/teams' routerLinkActive='current-nav'>
            <mat-icon mat-list-icon>engineering</mat-icon>
            <div mat-line>Teams</div>
        </mat-list-item>

        <mat-list-item routerLink='/settings/team-members' routerLinkActive='current-nav'>
            <mat-icon mat-list-icon>groups</mat-icon>
            <div mat-line>Team Members</div>
        </mat-list-item>

        <!-- <mat-list-item routerLink='/settings/misc' routerLinkActive='current-nav'>
            <mat-icon mat-list-icon>settings</mat-icon>
            <div mat-line>Settings</div>
        </mat-list-item> -->
    </mat-list>
    <div class='d-flex justify-content-center w-100'>
        <div class='card-container'>
            <router-outlet></router-outlet>
          </div>
    </div>
    

</div>
