
<h1 mat-dialog-title>{{exitingTeamMember != null ? "Edit" : "Add"}} Team Member</h1>
<div mat-dialog-content>

    <form [formGroup]="tmForm">
        <mat-form-field class="w-100">
            <mat-label>Name</mat-label>
            <input formControlName='name' matInput [placeholder]="selectedExampleName" autocomplete="off">
            <mat-error *ngIf="tmForm.get('name')!.hasError('required')">Please enter a name!</mat-error>
            <mat-hint>Emojis Welcome</mat-hint>
        </mat-form-field>

        <mat-slide-toggle formControlName="trackTime" color='primary'>
            Track time using timesheets
        </mat-slide-toggle>

        <mat-form-field class="w-40">
            <mat-label>Hours Adjustment</mat-label>
            <input formControlName='hoursAdjustment' matInput type="number" min="0">
            <mat-hint>Added to Hours column</mat-hint>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Timesheet PIN</mat-label>
            <input formControlName='pin' matInput type="password" maxlength="4">
            <mat-hint>Leave blank if you don't want to change</mat-hint>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button [disabled]="loading" mat-raised-button color="primary" (click)='addTeamMember()' [disabled]='!tmForm.valid'>{{exitingTeamMember != null ? "Edit" : "Add"}} Team Member</button>
</div>
