<h1>Change Pin</h1>
<div mat-dialog-content>

    <form [formGroup]="pinForm">
        <mat-form-field class="w-100">
            <mat-label>Timesheet PIN</mat-label>
            <input formControlName='pin' matInput type="password" maxlength="4">
            <mat-error *ngIf="pinForm.get('pin').hasError('minLength')">Pin must be 4 characters</mat-error>
            <mat-error *ngIf="pinForm.get('pin').hasError('required')">Pin required to change pin</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button [disabled]="loading" mat-raised-button color="primary" (click)='changePin()' [disabled]='!pinForm.valid'>Change Pin</button>
</div>
